<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form th:action="@{/admin/addPackage}" method="post">
    <input type="number" name="senderId" placeholder="Sender ID"/><br/>
    <input type="number" name="receiverId" placeholder="Receiver ID"/><br/>
    <input type="text" name="name" placeholder="Name"/><br/>
    <input type="text" name="description" placeholder="Description"/><br/>
    <input type="text" name="senderCity" placeholder="Sender City"/><br/>
    <input type="text" name="destCity" placeholder="Destination City"/><br/>
    <input type="submit"/>
</form>
</body>
</html>